:host {
  --sock-w: 0px;
  // --fbp-gear-color: var(--fbp-gear-color, #fff);
  --fbp-gear-color: #fff;

  display: block;

  position: absolute;

  min-width: var(--fbp-min-node-width, var(--fbp-default-node-size, 100px));
  min-height: var(--fbp-min-node-height, var(--fbp-default-node-size, 100px));

  // &.is-document {
  //   position: relative;
  // }

  & > section {
    background-color: var(--fbp-node-bg, #000);
    border: 2px solid grey;
    border-radius: 5px;
    display: grid;
    // grid-template-columns: var(--sock-w) minmax(100px, auto) var(--sock-w);
    // grid-template-rows: var(--sock-w) minmax(100px, auto) var(--sock-w);
    grid-template-columns: var(--sock-w) 1fr var(--sock-w);
    grid-template-rows: var(--sock-w) 1fr var(--sock-w);
    transition: all 0.5s;
    box-shadow: inset 0 0 10px #ffffff;


    min-width: var(--fbp-min-node-width, var(--fbp-default-node-size, 100px));
    min-height: var(--fbp-min-node-height, var(--fbp-default-node-size, 100px));

    // &.normal {
    // grid-template-columns: 0 minmax(100px, auto) 0;
    // grid-template-rows: 0 minmax(100px, auto) 0;
    // }
  }
}

:host(.fbp-full-size) {
	position: relative;

	& > section {
		min-height: 100%;
		height: 100%;
	}
}

fbp-sockets {
  position: relative;
  z-index: 1;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;

  &[position='top'] {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    // background-color: green;
    margin-top: -2px;
  }

  &[position='right'] {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    // background-color: purple;
    margin-right: -2px;
  }

  &[position='bottom'] {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    // background-color: yellow;
    margin-bottom: -2px;
  }

  &[position='left'] {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    // background-color: blue;
    margin-left: -2px;
  }
}

.content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 8px;
  font-family: var(--font-family-node-header);
  user-select: none;

  header {
    position: absolute;
    white-space: nowrap;
    color: #fff;
  }
}
