<ng-container>
	<!-- <fbp-connections *ngIf="connections" [parentId]="id"></fbp-connections> -->
	<fbp-socket #socketGost style="display:none"></fbp-socket>

	<section [ngClass]="cls">
		<fbp-sockets [nodeId]="id" [sockets]="sockets | socket:socketPositions.TOP"
			position="top" class="left-sockets"></fbp-sockets>
		<fbp-sockets [nodeId]="id" [sockets]="sockets | socket:socketPositions.RIGHT"
			position="right" class="left-sockets"></fbp-sockets>
		<fbp-sockets [nodeId]="id" [sockets]="sockets | socket:socketPositions.BOTTOM"
			position="bottom" class="left-sockets"></fbp-sockets>
		<fbp-sockets [nodeId]="id" [sockets]="sockets | socket:socketPositions.LEFT"
			position="left" class="left-sockets"></fbp-sockets>

		<div #content class="content">
			<!-- <header>{{node.title}}</header> -->
            <slot (slotchange)="onContentChange($event)"></slot>
		</div>
	</section>

	<!-- <fbp-footer></fbp-footer> -->

	<div class="header-wrapper">
		<header>{{title}}</header>
	</div>
</ng-container>
