:host {
    --font-family-node-header: var(--fbp-font-family-node-header, courier, arial, helvetica);
    display: flex;
    position: relative;
}

// ::ng-deep * {
//     -webkit-touch-callout: none !important;
// }
